<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Онлайн-сервис услуг SolarCalc для подбора оборудования солнечной генерации</title>
        <link rel="preconnect" href="https://googleapis.com">
        <link rel="preconnect" href="https://gstatic.com" crossorigin>
        <link href="https://googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/solar_style.css">
    </head>

    <body>
        <main>
            
            <!-- Header с кнопкой Домой -->
            <header>
                <a href="/" class="home-link">🏠 Домой</a>
            </header>
            <p></p>

            <div class="space">
            <div class="container">
                
                <!-- Форма фильтрации (поиск по наименованию через GORM ILIKE) -->
                <a><form action="/" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Поиск товаров..." value="{{.Search}}">
                    <button type="submit" class="img-button"><img src="http://localhost:9000/solar/search.jpg" alt="Поиск"></button>
                </form></a>
                
                <!-- Карточка текущей заявки (Корзина) — ведет на обработчик /request/{id} -->
                <a href="/request/{{.CurrentRequestID}}" class="cart-card">
                    <strong>Услуг: {{.CartCount}}</strong>
                    <p></p>
                    <button class="img-button"><img src="http://localhost:9000/solar/busket.jpg" alt="Корзина"></button>
                </a>
            </div>
                                  
            <!-- Сетка карточек: 3 столбца -->
            <div class="catalog-grid">
                {{range .Items}}
                <input type="hidden" name="request_id" value="{{$.CurrentRequestID}}">
                <div class="card">
                    <img src="http://localhost:9000/solar/{{.ImageKey}}" alt="{{.ModelName}}">
                    <h3>{{.ModelName}}</h3>
                    {{ if eq .Type "power" }}
                        <h4>Мощность(Вт): {{.Power}}</h4>
                    {{else}}
                        <h4>Емкость(Ач): {{.Capacity}}</h4>
                    {{end}}
                    <div class="down">
                        <pr class="price">{{.Price}} ₽</pr>
                        <!-- Ссылка на карточку конкретной услуги по ID через GORM -->
                        <a href="/equipment/{{.ID}}" class="card-button">Подробнее</a>
                    </div>
                </div>
                {{else}}
                <p>Услуги по вашему запросу не найдены.</p>
                {{end}}
            </div>
            </div>
        </main>
    </body>
</html>
